<div id="header">
  <svg width="40px" height="40px" viewBox="0 0 30 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard-2" transform="translate(-5.000000, -13.000000)">
                <g id="Icon" transform="translate(6.000000, 14.000000)">
                    <path d="M0.402954245,6 L6,12 L0.402954245,6 L6,0 L0.402954245,6 Z M0.402954245,6 L0,5.56803543 L0.402954245,6 L0,6.43196457 L0.402954245,6 Z" id="Combined-Shape" stroke="#7B7B7B" stroke-width="2" stroke-linecap="square"></path>
                    <path d="M27.5970458,6 L22,12 L27.5970458,6 L22,0 L27.5970458,6 Z M27.5970458,6 L28,5.56803543 L27.5970458,6 L28,6.43196457 L27.5970458,6 Z" id="Combined-Shape" stroke="#7B7B7B" stroke-width="2" stroke-linecap="square"></path>
                    <circle id="Oval-2" stroke="#FFFFFF" fill="#E82727" cx="14" cy="6" r="5"></circle>
                    <circle id="Oval-2" stroke="#FFFFFF" fill="#E82727" cx="14" cy="6" r="3"></circle>
                </g>
            </g>
        </g>
    </svg>
    <span> LiveCoder </span>
</div> 
<div id="editor"></div>
<textarea name="code" id="raw_code" type="hidden" style="display: none;"><%= @snippet.code %></textarea>
<div id="footer">
  
  <div >
    <select class="style_selector">
      <option value="chrome">Chrome</option>
      <option value="eclipse">Eclipse</option>
      <option value="monokai">Monokai</option>
    </select>
  </div>
  <span>Theme</span>
  <div >
    <select class="language_selector">
      <option value="html">HTML</option>
      <option value="javascript">Javascript</option>
      <option value="php">PHP</option>
      <option value="python">Python</option>
    </select>
  </div>
  <span>Language</span>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
    attribution=setup_tool
    page_id="246554892840514"
    theme_color="#fa3c4c"
    logged_in_greeting="Welcome, The live coding session has been started"
    logged_out_greeting="Welcome, The live coding session has been started"
    ref="<%= @snippet.slug %>">
</div>



<script>

    var flag_changing = false;
    var flag_selection_changing = false;

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/<%= @snippet.language %>");

    ace_document = editor.getSession().getDocument();

    session = editor.getSession();
    selection = session.getSelection();

    <% if @snippet.theme.to_s != "" %>
      editor.setTheme("ace/theme/<%= @snippet.theme%>");
    <% end %>

    <% if @snippet.code.to_s != "" %>
      ace_document.setValue(document.getElementById('raw_code').value);
    <% end %>

    document.querySelector(".style_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            editor.setTheme("ace/theme/" + e.target.value);
        }
    });

    document.querySelector(".language_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            editor.getSession().setMode("ace/mode/" + e.target.value);
        }
    });

    App.snippet = App.cable.subscriptions.create({channel: "SnippetChannel", room: "<%=@snippet.slug%>"}, {
            connected() {},
                // Called when the subscription is ready for use on the server

            disconnected() {},
                // Called when the subscription has been terminated by the server

            received(data) {
                var event = new Event('change');
                ace_document.setValue(data.body);
                document.querySelector(".style_selector").value = data.theme;
                document.querySelector(".style_selector").dispatchEvent(event);
                document.querySelector(".language_selector").value = data.language;
                document.querySelector(".language_selector").dispatchEvent(event);
                selection.moveToPosition(data.cursor_position);
                selection.setSelectionRange(data.selection_range);
            }
        }
    );
</script>

