<div id="header">
    <svg class="logo" width="37px" height="25px" viewBox="0 0 37 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs>
            <linearGradient x1="50%" y1="82.2224381%" x2="50%" y2="0%" id="linearGradient-1">
                <stop stop-color="#AD1D81" offset="0%"></stop>
                <stop stop-color="#1167C5" offset="62.9282786%"></stop>
                <stop stop-color="#48A3C9" offset="100%"></stop>
            </linearGradient>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard-2" transform="translate(-2.000000, -4.000000)">
                <g id="Group" transform="translate(2.000000, 5.000000)">
                    <path d="M8,5.08343087 C10.5720674,5.08343087 10.5720674,4.27911014e-17 12.1639515,0 C14.8311106,0 16.3222576,18.1275461 18.0619275,18.1275461 C19.8015975,18.1275461 21.2479168,0 23.899948,0 C26.5519793,0 25.8858398,5.08343087 28.5921267,5.08343087" id="Line" stroke="url(#linearGradient-1)" stroke-width="1.5" stroke-linecap="round" transform="translate(18.296063, 9.063773) scale(1, -1) translate(-18.296063, -9.063773) "></path>
                    <path d="M2.896,13.52 C2.896,14.0960029 2.81500081,14.5309985 2.653,14.825 C2.49099919,15.1190015 2.2000021,15.3739989 1.78,15.59 C2.2000021,15.8060011 2.49099919,16.0699984 2.653,16.382 C2.81500081,16.6940016 2.896,17.1319972 2.896,17.696 L2.896,20.684 C2.896,21.3560034 3.00699889,21.7999989 3.229,22.016 C3.45100111,22.2320011 5.90999652,22.3459999 6.606,22.358 L6.606,23.366 C6.46199928,23.3780001 4.32400066,23.384 4.192,23.384 C3.27999544,23.384 2.63500189,23.180002 2.257,22.772 C1.87899811,22.363998 1.69,21.6800048 1.69,20.72 L1.69,17.732 C1.69,17.2039974 1.61500075,16.8140013 1.465,16.562 C1.3649995,16.3939992 0.900142687,16.0669992 0.0704295608,15.581 C1.15014319,14.759003 1.69,14.048003 1.69,13.448 L1.69,10.244 C1.69,9.36799562 1.88499805,8.73800192 2.275,8.354 C2.66500195,7.96999808 3.30399556,7.778 4.192,7.778 L6.606,7.778 L6.606,8.804 C5.92199658,8.81600006 3.46600114,8.92999892 3.238,9.146 C3.00999886,9.36200108 2.896,9.78199688 2.896,10.406 L2.896,13.52 Z" id="{" fill="#4A4A4A"></path>
                    <path d="M32.8116972,13.742 C32.8116972,14.3180029 32.730698,14.7529985 32.5686972,15.047 C32.4066963,15.3410015 32.1156993,15.5959989 31.6956972,15.812 C32.1156993,16.0280011 32.4066963,16.2919984 32.5686972,16.604 C32.730698,16.9160016 32.8116972,17.3539972 32.8116972,17.918 L32.8116972,20.906 C32.8116972,21.5780034 32.922696,22.0219989 33.1446972,22.238 C33.3666983,22.4540011 35.8256937,22.5679999 36.5216972,22.58 L36.5216972,23.588 C36.3776964,23.6000001 34.2396978,23.606 34.1076972,23.606 C33.1956926,23.606 32.550699,23.402002 32.1726972,22.994 C31.7946953,22.585998 31.6056972,21.9020048 31.6056972,20.942 L31.6056972,17.954 C31.6056972,17.4259974 31.5306979,17.0360013 31.3806972,16.784 C31.2806967,16.6159992 30.8158398,16.2889992 29.9861267,15.803 C31.0658403,14.981003 31.6056972,14.270003 31.6056972,13.67 L31.6056972,10.466 C31.6056972,9.58999562 31.8006952,8.96000192 32.1906972,8.576 C32.5806991,8.19199808 33.2196927,8 34.1076972,8 L36.5216972,8 L36.5216972,9.026 C35.8376937,9.03800006 33.3816983,9.15199892 33.1536972,9.368 C32.925696,9.58400108 32.8116972,10.0039969 32.8116972,10.628 L32.8116972,13.742 Z" id="{" fill="#4A4A4A" transform="translate(33.253912, 15.803000) scale(-1, 1) translate(-33.253912, -15.803000) "></path>
                </g>
            </g>
        </g>
    </svg>
    <span> LiveCoder </span>
    <div class="rightButtons">
        <a href="">
            <svg width="20px" height="12px" viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard-2" transform="translate(-10.000000, -14.000000)" fill="#000000" fill-rule="nonzero">
                        <g id="Video-Call-595b40b85ba036ed117dbd5b" transform="translate(10.000000, 14.000000)">
                            <path d="M2,0 C0.9,0 0,0.9 0,2 L0,10 C0,11.1 0.9,12 2,12 L13,12 C14.1,12 15,11.1 15,10 L15,2 C15,0.9 14.1,0 13,0 L2,0 Z M20,1 L16,4 L16,8 L20,11 L20,1 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <a href="javascript:save();"> 
            <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="16px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="16px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><path d="M17.447,16.646C17.08,16.279,16.729,16,16,16s-1.135,0.334-1.463,0.662L10.58,20.62C10.193,21.006,10,21.469,10,22  c0,1.188,1.016,2,2,2c0.516,0,0.986-0.186,1.38-0.58L14,22.8V30c0,1.104,0.896,2,2,2s2-0.896,2-2v-7.2l0.62,0.62  C19.014,23.814,19.484,24,20,24c0.984,0,2-0.813,2-2c0-0.531-0.193-0.994-0.58-1.38L17.447,16.646z M27.952,9.05  C27.473,3.973,23.202,0,18,0c-4.841,0-8.878,3.441-9.801,8.01C8.133,8.008,8.067,8,8,8c-4.418,0-8,3.582-8,8s3.582,8,8,8h0.557  C8.212,23.409,8,22.731,8,22c0-0.727,0.201-1.399,0.562-2H8c-2.206,0-4-1.795-4-4c0-2.178,1.75-3.957,3.918-4l3.534,0.107  l0.668-3.305C12.682,6.02,15.155,4,18,4c3.111,0,5.678,2.332,5.97,5.426l0.195,2.069l1.806,1.03C27.223,13.238,28,14.57,28,16  c0,2.205-1.794,4-4,4h-0.561C23.799,20.6,24,21.273,24,22c0,0.731-0.212,1.409-0.557,2H24c4.418,0,8-3.582,8-8  C32,13.021,30.367,10.427,27.952,9.05z"/></svg>
        </a>
        <a href="javascript:shareOnMSN();"> 
             <svg height="16px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g><path d="M800.3,653.6c-46.5,13.2-81.5,47.1-97.9,88.9l-351.9-94c-0.3-14.1-2.2-28.5-6.3-42.7c-1.2-4.1-2.6-8.1-4.1-12.1L590,326.9c35,23.3,79.6,31.8,123.3,19.5c79.2-22.4,125.2-104.8,102.7-184c-22.4-79.2-104.8-125.2-184-102.7c-79.2,22.4-125.2,104.8-102.7,184c4.5,15.7,11.3,30.1,20,42.9L294.4,526.1c-42.1-37.9-102-54.2-160.5-37.6C43.4,514.1-9.1,608.3,16.5,698.8c25.6,90.5,119.8,143,210.3,117.4c48.5-13.7,85.9-47.2,106.5-89.2l358.8,73.2c0.3,12.4,1.9,25,5.5,37.5c22.4,79.2,104.8,125.2,184,102.7c79.2-22.4,125.2-104.8,102.7-184C961.9,677.1,879.5,631.2,800.3,653.6L800.3,653.6z"/></g>
            </svg>
        </a>
    
    </div>
    
</div> 
<div id="editor"></div>
<textarea name="code" id="raw_code" type="hidden" style="display: none;"><%= @snippet.code %></textarea>
<div id="footer">
  <span>Theme</span>
  <div >
    <select class="style_selector">
        <option value="ambiance">ambiance</option><option value="chaos">chaos</option><option value="chrome">chrome</option><option value="cobalt">cobalt</option><option value="dawn">dawn</option><option value="dreamweaver">dreamweaver</option><option value="eclipse">eclipse</option><option value="github">github</option><option value="gruvbox">gruvbox</option><option value="iplastic">iplastic</option><option value="kr_theme">kr_theme</option><option value="kuroir">kuroir</option><option value="merbivore">merbivore</option><option value="mono_industrial">mono_industrial</option><option value="pastel_on_dark">pastel_on_dark</option><option value="solarized_dark">solarized_dark</option><option value="sqlserver">sqlserver</option><option value="terminal">terminal</option><option value="textmate">textmate</option><option value="tomorrow">tomorrow</option><option value="tomorrow-night">tomorrow-night</option><option value="twilight">twilight</option><option value="xcode">xcode</option>
    </select>
  </div>
  
  <span>Language</span>
  <div >
    <select class="language_selector">
        <option value="asm">asm</option><option value="css">css</option><option value="elixir">elixir</option><option value="golang">go</option><option value="groovy">groovy</option><option value="java">java</option><option value="jade">jade</option><option value="javascript">javascript</option><option value="java">java</option><option value="json">json</option><option value="haml">haml</option><option value="haskell">haskell</option><option value="html">html</option><option value="latex">latex</option><option value="lua">lua</option><option value="matlab">matlab</option><option value="markdown">markdown</option><option value="objectivec">objective-c</option><option value="php">php</option><option value="prolog">prolog</option><option value="r">r</option><option value="ruby">ruby</option><option value="rust">rust</option><option value="scala">scala</option><option value="sh">sh</option><option value="sql">sql</option><option value="swift">swift</option><option value="stylus">stylus</option><option value="typescript">typescript</option><option value="text">text</option><option value="xml">xml</option>
    </select>
  </div>
  
</div>


<script>

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
            .toString(16)
            .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    var flag_changing = false;
    var flag_selection_changing = false;
    var emiter = guid();
    
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/<%= @snippet.language %>");
    document.querySelector(".language_selector").value = "<%= @snippet.language%>";
    ace_document = editor.getSession().getDocument();

    session = editor.getSession();
    selection = session.getSelection();

    <% if @snippet.theme.to_s != "" %>
      editor.setTheme("ace/theme/<%= @snippet.theme%>");
      document.querySelector(".style_selector").value = "<%= @snippet.theme%>";
    <% end %>

    <% if @snippet.code.to_s != "" %>
      ace_document.setValue(document.getElementById('raw_code').value);
    <% end %>

    editor.on("change", function (e) {  
        if (!flag_changing) {
            App.snippet.send(build_payload(e))
        }
    });

    document.querySelector(".style_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.setTheme("ace/theme/" + e.target.value);
        }
    });

    document.querySelector(".language_selector").addEventListener("change", function (e) {
        if (!flag_changing) {
            App.snippet.send(build_payload())
            editor.getSession().setMode("ace/mode/" + e.target.value);
        }
    });

    selection.on("changeCursor", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });
    selection.on("changeSelection", function () {
        if (!flag_changing) {
            App.snippet.send(build_payload())
        }
    });

    function save()
    {
        App.snippet.send(build_payload(null, true))
    }

    function build_payload(e=null, persist=null){
        return {
            persist: persist,
            emiter: emiter,
            body: ace_document.getValue(), 
            e: e,
            slug: "<%=@snippet.slug%>",
            theme: document.querySelector(".style_selector").value,
            language: document.querySelector(".language_selector").value,
            cursor_position: editor.getCursorPosition(),
            selection_range: selection.getRange()
        }
    }


    function shareOnMSN(){
        FB.ui({
            method: 'share',
            link: window.location.href,
        });
    }
    

    App.snippet = App.cable.subscriptions.create({channel: "SnippetChannel", room: "<%=@snippet.slug%>"}, {
            connected() {},
                // Called when the subscription is ready for use on the server

            disconnected() {},
                // Called when the subscription has been terminated by the server

            received(data) {

                

                flag_changing = true;
                
                if (data.emiter != emiter) {
                    var event = new Event('change');
                    console.log(data.body);
                    if (data.e != null) {
                        res = data.e;
                        switch (res['action']) {
                        case 'insert': 
                            position = { row: res['start']['row'], column: res['start']['column'] };
                            ace_document.insert(position, (res['lines']).join(ace_document.getNewLineCharacter()));
                            break;
                        case 'remove':
                            ace_document.remove({ start: res['start'], end: res['end'] });
                            break;
                        }
                    }
                
                    selection.moveToPosition(data.cursor_position);
                    selection.setSelectionRange(data.selection_range);
                    document.querySelector(".style_selector").value = data.theme; 
                    document.querySelector(".language_selector").value = data.language;
                    editor.setTheme("ace/theme/" + data.theme);
                    editor.getSession().setMode("ace/mode/" + data.language);
                }
                flag_changing = false;
                
            }
        }
    );

    function startStream(){
        streamingPipe = setInterval(function(){
            html2canvas(document.body).then(function(canvas) {
                console.log(canvas.toDataURL());
            });
        }, 3000);
    }

    
    
</script>



<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
    attribution=setup_tool
    page_id="246554892840514"
    theme_color="#fa3c4c"
    logged_in_greeting="Welcome, The live coding session has been started"
    logged_out_greeting="Welcome, The live coding session has been started"
    ref="<%= @snippet.slug %>">
</div>