<!DOCTYPE html>
<html>
  <head>
    <title>LivecodingCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>

    <meta property="og:title" content="Check this awesome snipept" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/864790/44969575-348adf80-af24-11e8-969e-20aa204c11a3.png" />
    
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
