<!DOCTYPE html>
<html>
  <head>
    <title>LivecodingCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>

    <!-- Load Facebook SDK for JavaScript --> 
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId            : '432596000483437',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.1'
          });
        };
        
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>

  <body>
    <%= yield %> 
  </body>
</html>
